priority 1

snippet e "em"
<em>${1:${VISUAL}}</em>
endsnippet

snippet em "em"
<em>${1:${VISUAL}}</em>
endsnippet

snippet i "em"
<em>${1:${VISUAL}}</em>
endsnippet

snippet b "strong"
<strong>${1:${VISUAL}}</strong>
endsnippet

snippet del "del"
<del>${1:${VISUAL}}</del>
endsnippet

snippet ins "ins"
<ins>${1:${VISUAL}}</ins>
endsnippet

snippet slide "div.slide"
<div class="$1slide" id="$2">
	${3:<h2>
		$4
	</h2>
	}${5:${VISUAL}}
</div>
endsnippet
