snippet td "todo"
\todo{${1:${VISUAL}}}
endsnippet

snippet cm "review comment"
\rv{${1:${VISUAL}}}
endsnippet

snippet rm "review delete"
\remove{${1:${VISUAL}}}
endsnippet

snippet sp "review spelling"
\spelling{${1:${VISUAL}}}
endsnippet

snippet gr "review grammar"
\grammar{${1:${VISUAL}}}
endsnippet

snippet rp "review rephrase"
\phrasing{${1:${VISUAL}}}
endsnippet
